.title-index {
    font-family: 'Great Vibes', cursive; 
    font-size: 7.5rem;
    margin: 100px 0px 70px 0px;
    background: linear-gradient(#FFC2C2, #FFD7A8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h2 {
    margin-bottom: 20px;
    color: #594A41;
    font-family: 'DM Serif Display', serif;
    font-size: 2.8rem;
}

#categoria {
    font-family: 'DM Serif Display', serif;
    font-size: 2.8rem;
    display: inline-block;
    position: relative;
    color: #594A41;
}

#categoria::after, #categoria::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.7em;
}

#categoria::before {
    left: -140px;
}

#categoria::after {
    right: -140px;
}

.image {
    position: relative;
    width: 510px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__text {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__text > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__text:hover {
    opacity: 1;
}

.image__text:hover > * {
    transform: translateY(0);
}

.image__textTitle {
    font-size: 1.8em;
    font-weight: bold;
}

.image__textDescription {
    font-size: 1.2em;
    margin-top: 1em;
    text-align: center;
}


.image__button {
    background: #f8d1cc; /* color de fondo */
    color: #fff; /* color de fuente */
    padding: 10px 15px;
    border-radius: 15px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}
.image__button:hover {
    color: #fff; /* color de fuente hover */
}
.image__button::after {
    content: "";
    background: #f5c1a3; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 100%;
    bottom: -100%;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.image__button:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.card__button {
    background: #f3c1ba;
    color: #fff;
    padding: 10px 15px;
    border-radius: 15px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

.card__button:hover {
    color: #fff;
}

.card__button::after {
    content: "";
    background: #f1b592;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
  
.card__button:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}


.carrito_de_compras {
    color: #594A41;
}


.card {
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0px 0px 10px 20px #fcd8d4(0, 0, 0, 0.75);
}

.card:hover{
    box-shadow: 0px 0px 25px 6px #FCD8D4;
}



/* ***** formulario de login y signup ***** */
#formulario {
    margin-bottom: 50px;
    display: grid;
    height: 90vh;
    width: 100%;
    place-items: center;
    color: #594A41;
    background: #f2f2f2;
    background: -webkit-linear-gradient(left, #f68989, #fcd8d4e0);
}

.wrapper {
    overflow: hidden;
    max-width: 390px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title-text {
    display: flex;
    width: 200%;
}

.wrapper .title-text .title {
    width: 50%;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.slide-controls .slide-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: -webkit-linear-gradient(left, #f68989, #fcd8d4e0);
}

input[type="radio"]{
    display: none;
}

#signup:checked ~ .slide-tab {
    left: 50%;
}


.form-container .form-inner {
    display: flex;
    width: 200%;

}

.form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #FCD8D4;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}

.form-inner form .field input:focus{
    border-color: #F68989;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #F68989;
    text-decoration: none;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;

}

form .field input[type="submit"]{
    background: -webkit-linear-gradient(left, #F68989, #FCD8D4);
    color: #594A41;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 0px;
    border: none;
    cursor: pointer;
}

/* boton carrito */
#boton-carrito {
    display: flex;
    border: none;
    color: #594A41;
    background-color: #f8eee4ea;;
    font-size: 40px;
    padding: 9px 9px;
    margin-right: 20px;
    transition: all 0.3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: #F5C6AA;
}

#boton-carrito:focus {
    outline: none;
}